<a href="https://colab.research.google.com/github/Nikunjbansal99/NLP_Lab/blob/main/NLP_LAB3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk

**Word Tokenizer**

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize
input = "Have a nice day"
print(word_tokenize(input))

['Have', 'a', 'nice', 'day']

**Treebank Word Tokenizer**

These tokenizers work by separating the words using punctuation and spaces. And as mentioned in the code outputs above, it does not discard the punctuation, allowing a user to decide what to do with the punctuations at the time of pre-processing.

In [ ]:
from nltk.tokenize import TreebankWordTokenizer 
input = "It's amazing. It's excited."
t = TreebankWordTokenizer() 
t.tokenize(input)

['It', "'s", 'amazing.', 'It', "'s", 'excited', '.']

**WordPunct Tokenizer**

 It seperates the punctuation from the words.

In [ ]:
from nltk.tokenize import WordPunctTokenizer 
input = "It's amazing. It's excited."
t = WordPunctTokenizer() 
t.tokenize(input)

['It', "'", 's', 'amazing', '.', 'It', "'", 's', 'excited', '.']

**Sentence Tokenization**

In [ ]:
from nltk.tokenize import sent_tokenize
input = "It's amazing. It's excited."
print(sent_tokenize(input))

["It's amazing.", "It's excited."]

**Tokenize using Regular Expression**

In [ ]:
from nltk.tokenize import RegexpTokenizer 
t = RegexpTokenizer('\s+', gaps = True)
input = "Maybe I am the happiest person"
tokens = t.tokenize(input) 
print(tokens)

['Maybe', 'I', 'am', 'the', 'happiest', 'person']

**Whitespace Tokenizer** <br>
Tokenize a string on whitespace (space, tab, newline). In general, users should use the string split() method instead.

In [ ]:
from nltk.tokenize import WhitespaceTokenizer
input = "It's amazing.\n It's \texcited."
t = WhitespaceTokenizer() 
t.tokenize(input)

["It's", 'amazing.', "It's", 'excited.']

**Blankline Tokenizer**

In [ ]:
from nltk.tokenize import BlanklineTokenizer
input = "It's amazing.\n It's \texcited."
t = BlanklineTokenizer()
t.tokenize(input)

["It's amazing.\n It's \texcited."]

**Line Tokenizer**

Tokenize a string into its lines, optionally discarding blank lines.

In [ ]:
from nltk.tokenize import LineTokenizer
input = "Hello \nI am Nikunj Bansal. Student Now\nML Researcher in upcoming Future.\n\nThanks."
t = LineTokenizer(blanklines='keep')  #keep  blank lines
t.tokenize(input)

['Hello ',
 'I am Nikunj Bansal. Student Now',
 'ML Researcher in upcoming Future.',
 '',
 'Thanks.']

In [ ]:
t = LineTokenizer(blanklines='discard')  #discard  blank lines
t.tokenize(input)

['Hello ',
 'I am Nikunj Bansal. Student Now',
 'ML Researcher in upcoming Future.',
 'Thanks.']

**String Span Tokenizer**

Return the offsets of the tokens in s, as a sequence of (start, end) tuples, by splitting the string at each occurrence of sep.

In [ ]:
from nltk.tokenize.util import string_span_tokenize
input = "Hello \nI am Nikunj Bansal. Student Now\nML Researcher in upcoming Future.\n\nThanks."
list(string_span_tokenize(input, " "))

[(0, 5),
 (6, 8),
 (9, 11),
 (12, 18),
 (19, 26),
 (27, 34),
 (35, 41),
 (42, 52),
 (53, 55),
 (56, 64),
 (65, 81)]

**Tweet Tokenizer**

Twitter-aware tokenizer, designed to be flexible and easy to adapt to new domains and tasks

In [ ]:
from nltk.tokenize import TweetTokenizer
t = TweetTokenizer()
input = "It's amazing: :-) :-P <3 It's excited.$$--->:-)"
t.tokenize(input)

["It's",
 'amazing',
 ':',
 ':-)',
 ':-P',
 '<3',
 "It's",
 'excited',
 '.',
 '$',
 '$',
 '--->',
 ':-)']

**Multi-Word Expression Tokenizer**

A MWETokenizer takes a string which has already been divided into tokens and retokenizes it, merging multi-word expressions into single tokens, using a lexicon of MWEs

In [ ]:
from nltk.tokenize import MWETokenizer
t = MWETokenizer([('Nikunj', 'Bansal'), ('Roll', 'No.', '63'), ('Batch', 'B2')])
t.add_mwe(('SAP', 'Id', '500069944'))
t.tokenize('I am Nikunj Bansal having a Roll No. 63 and SAP Id 500069944 of Batch B2'.split())

['I',
 'am',
 'Nikunj_Bansal',
 'having',
 'a',
 'Roll_No._63',
 'and',
 'SAP_Id_500069944',
 'of',
 'Batch_B2']